div.alert-dialog, div.confirm-dialog, div.input-dialog {
  padding-left: 40px;
  min-height: 32px;
}

div.alert-dialog {
  background: image-url('common-dialogs-message.png') no-repeat left;
}

div.alert-dialog.error {
  background-image: image-url('common-dialogs-error.png');
}

div.confirm-dialog, div.input-dialog {
  background: image-url('common-dialogs-confirm.png') no-repeat left;
}

div.input-dialog input {
  display: block;
  width: 100%;
}
